<div class="card-container">
<div class="card">
    <div class="card-header">
      <span>About</span>
    </div>
    <div class="card-body">
      <div class="icon-container">
        <i class="pulse-icon">+</i> 
      </div>
      <div class="text-container">
        <span>Add About</span>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      <span>Tags</span>
    </div>
    <div class="card-body">
      <div class="icon-container">
        <i class="pulse-icon">+</i> 
      </div>
      <div class="text-container">
        <span>Add Tags</span>
      </div>
    </div>
</div>
</div>

<div class="info-card">
    <div class="info-card-header">
      <span>Basic Information</span>
    </div>
    <div class="info-card-body">
      <div class="form-container">
        <div class="form-group left-side">
          <label for="employee-id">Employee ID</label>
          <input type="text" id="employee-id" name="employee-id">
  
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" name="first-name">
  
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" name="last-name">
        </div>
        <div class="form-group right-side">
          <label for="nickname">Nickname</label>
          <input type="text" id="nickname" name="nickname">
  
          <label for="email">Email Address</label>
          <input type="email" id="email" name="email">
        </div>
      </div>
    </div>
  </div>

  <div class="info-card">
    <div class="info-card-header">
      <span>Work Information</span>
    </div>
    <div class="info-card-body">
      <div class="form-container">
        <div class="form-group left-side">
          <label for="employee-id">Department</label>
          <input type="text" id="employee-id" name="employee-id">
  
          <label for="first-name">Location</label>
          <input type="text" id="first-name" name="first-name">
  
          <label for="last-name">Designation</label>
          <input type="text" id="last-name" name="last-name">
        </div>
        <div class="form-group right-side">
          <label for="nickname">Zoho Role</label>
          <input type="text" id="nickname" name="nickname">
  
          <label for="email">Employment Type</label>
          <input type="email" id="email" name="email">

          <label for="email">Employee Status</label>
          <input type="email" id="email" name="email">

          <label for="email">Source of Hire</label>
          <input type="email" id="email" name="email">

          <label for="email">Date of Joining</label>
          <input type="email" id="email" name="email">
          
          <label for="email">Current Experience</label>
          <input type="email" id="email" name="email">

          <label for="email">Total Experience</label>
          <input type="email" id="email" name="email">
        </div>
      </div>
    </div>
  </div>

  <div class="info-card">
    <div class="info-card-header">
      <span>Hierarchy Information</span>
    </div>
    <div class="info-card-body">
      <div class="form-container">
        <div class="form-group left-side">
          <label for="employee-id">Reporting Manager</label>
          <input type="text" id="employee-id" name="employee-id">
        </div>
      </div>
    </div>
  </div>

  <div class="info-card">
    <div class="info-card-header">
      <span>Personal Details</span>
    </div>
    <div class="info-card-body">
      <div class="form-container">
        <div class="form-group left-side">
          <label for="employee-id">Date of Birth</label>
          <input type="text" id="employee-id" name="employee-id">
  
          <label for="first-name">Age</label>
          <input type="text" id="first-name" name="first-name">
  
          <label for="last-name">Gender</label>
          <input type="text" id="last-name" name="last-name">

          <label for="last-name">Marital Status</label>
          <input type="text" id="last-name" name="last-name">

          <label for="last-name">About Me</label>
          <input type="text" id="last-name" name="last-name">
        </div>
        <div class="form-group right-side">
          <label for="nickname">Ask me about/Expertise</label>
          <input type="text" id="nickname" name="nickname">
        </div>
      </div>
    </div>
  </div>

  <div class="info-card">
    <div class="info-card-header">
      <span>Identity Information</span>
    </div>
    <div class="info-card-body">
      <div class="form-container">
        <div class="form-group left-side">
          <label for="employee-id">UAN</label>
          <input type="text" id="employee-id" name="employee-id">

          <label for="employee-id">PAN</label>
          <input type="text" id="employee-id" name="employee-id">
          
          <label for="employee-id">Aadhaar</label>
          <input type="text" id="employee-id" name="employee-id">
        </div>
      </div>
    </div>
  </div>

  <div class="info-card">
    <div class="info-card-header">
      <span>Contact Details</span>
    </div>
    <div class="info-card-body">
      <div class="form-container">
        <div class="form-group left-side">
          <label for="employee-id">Work Phone Number</label>
          <input type="text" id="employee-id" name="employee-id">
  
          <label for="first-name">Extension</label>
          <input type="text" id="first-name" name="first-name">
  
          <label for="last-name">Seating Location</label>
          <input type="text" id="last-name" name="last-name">

          <label for="last-name">Tags</label>
          <input type="text" id="last-name" name="last-name">

          <label for="last-name">Present Address</label>
          <input type="text" id="last-name" name="last-name">

          <label for="last-name">Permanent Address</label>
          <input type="text" id="last-name" name="last-name">
        </div>
        <div class="form-group right-side">
          <label for="nickname">Personal Mobile Number</label>
          <input type="text" id="nickname" name="nickname">

          <label for="nickname">Personal Email Address</label>
          <input type="text" id="nickname" name="nickname">
        </div>
      </div>
    </div>
  </div>
  

  <div class="info-card">
    <div class="info-card-header">
      <span>Separation Information</span>
    </div>
    <div class="info-card-body">
      <div class="form-container">
        <div class="form-group left-side">
          <label for="employee-id">Date of Exit</label>
          <input type="text" id="employee-id" name="employee-id">
        </div>
      </div>
    </div>
  </div>

  <div class="info-card">
    <div class="info-card-header">
      <span>System Fields</span>
    </div>
    <div class="info-card-body">
      <div class="form-container">
        <div class="form-group left-side">
          <label for="employee-id">Added By</label>
          <input type="text" id="employee-id" name="employee-id">
  
          <label for="first-name">Added Time</label>
          <input type="text" id="first-name" name="first-name">
        </div>
        <div class="form-group right-side">
          <label for="nickname">Modified By</label>
          <input type="text" id="nickname" name="nickname">

          <label for="nickname">Modified Time</label>
          <input type="text" id="nickname" name="nickname">

          <label for="nickname">Onboarding Status</label>
          <input type="text" id="nickname" name="nickname">
        </div>
      </div>
    </div>
  </div>

  <div class="experience-card">
    <div class="experience-card-header">
      <span>Work Experience</span>
    </div>
    <div class="experience-card-body">
      <table class="experience-table">
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Job Title</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Job Description</th>
            <th>Relevant</th>
          </tr>
        </thead>
        <tbody>
          
            <tr class="no-rows">
                <td colspan="6">No rows found</td>
              </tr>

        </tbody>
      </table>
    </div>
  </div>
  

  <div class="experience-card">
    <div class="experience-card-header">
      <span>Education Details</span>
    </div>
    <div class="experience-card-body">
      <table class="experience-table">
        <thead>
          <tr>
            <th>Institute Name</th>
            <th>Degree/Diploma</th>
            <th>Specialization</th>
            <th>Date of Completion</th>
          </tr>
        </thead>
        <tbody>

            <tr class="no-rows">
                <td colspan="4">No rows found</td>
              </tr>
          
        </tbody>
      </table>
    </div>
  </div>

  <div class="experience-card">
    <div class="experience-card-header">
      <span>Dependent Details</span>
    </div>
    <div class="experience-card-body">
      <table class="experience-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Relationship</th>
            <th>Date of Birth</th>
          </tr>
        </thead>
        <tbody>

            <tr class="no-rows">
                <td colspan="3">No rows found</td>
              </tr>
          
        </tbody>
      </table>
    </div>
  </div>


  