<header class="head d-flex justify-content-between align-items-center p-3 text-white">
  <h1><img src="../../assets/images/Screenshot 2024-05-29 114456.png" alt="">CAREERS</h1>
  <h5><i class="fa-solid fa-user"></i>Pravin</h5>
</header>
<h2>Update Profile</h2>s
<div class="container mt-4">
  <nav class="nav nav-pills mb-4">
    <li class="nav-item">
      <a class="nav-link" routerLink="/general" routerLinkActive="active"><i class="fa-solid fa-circle"></i>General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/educational" routerLinkActive="active"><i class="fa-solid fa-circle"></i>Educational</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/skillset" routerLinkActive="active"><i class="fa-solid fa-square-check"></i>Skillset</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/professional" routerLinkActive="active"><i class="fa-solid fa-circle"></i>Professional</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/details" routerLinkActive="active"><i class="fa-solid fa-circle"></i>Deatils</a>
    </li>
  </nav>
  <hr>
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
