.form-group {
  margin-bottom: 15px;
}
.invisible {
  visibility: hidden;
}
label{
  font-weight: 700;
}
h2{
  font-size: 1.5rem;
  font-weight: lighter;
  font-weight: 400;
}
.fa-plus{
  color: white;
  background-color:  #30a3bf;
  font-size: 15px;
  width: 25px;
  padding: 5px;
  height: 25px;
}
h5{
  margin-left: 76rem;
  margin-top: -40px;
  color: #30a3bf;
}
.text-danger{
  border-color: red;
}
.invalid-input {
  border-color: red;
}
.div-spacing{
  margin-top: 30px;
}
.label-spacing {
  margin-bottom: 10px;
}

.next{
  background-color:#8929a6 ;
  color: white;
  margin-left: 74.7rem;
}

.fa-chevron-right{
  font-size: 13px;
  padding: 4px;
}




