span {
  color: red;
}

.form-group {
  margin-bottom: 15px;
}
.invisible {
  visibility: hidden;
}
label{
  font-weight: 700;
}
h2{
  font-size: 1.5rem;
  margin-top: 34px;
  color: darkblue;
  margin-bottom: 20px;
  font-weight: lighter;
  font-weight: 500;
}
.fa-plus{
  color: white;
  background-color:  #30a3bf;
  font-size: 15px;
  width: 25px;
  padding: 5px;
  height: 25px;
}
h5{
  margin-top: -39px;
  float: right;
  color: #30a3bf;
}
.text-danger{
  border-color: red;
}
.invalid-input {
  border-color: red;
}
.div-spacing{
  margin-top: 30px;
}
.label-spacing {
  margin-bottom: 10px;
}

.next{
  background-color:#8929a6 ;
  color: white;
  float: right;
}

.fa-chevron-right{
  font-size: 13px;
  padding: 4px;
}

.education-page{
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1rem;
}

.header {
  display: flex;
   margin: 1rem;
}

.add h5 i {
  margin-right: 8px;
}
.btns-general{
  background-color: #000000;
  color: white;
  border-radius: 5px;
  display: flex;
  float: right;
  margin-right: 150px;
}