.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #123;
  background-size: cover;
}

.nav-item {
  padding: 0.5rem 1rem;
  margin: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  position: relative;
  transition: color 0.3s, background-color 0.3s;
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0088ff;
  transition: width 0.3s;
}

.nav-item:hover {
  background-color: #f1f1f1;
  color: #1e3c72;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item:active {
  transform: scale(0.95);
  background-color: #e0e0e0;
  color: #123;
}

.nav-item.active {
  background-color: #f1f1f1;
  color: #1e3c72;
}

.nav-item.active::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}

.main-content {
  height: calc(85vh - 60px);
  overflow-y: auto;
  padding: 1rem;

    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;

  .main-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}}
