<div class="team-dept-container">
  <!-- Dropdown for selecting sections -->
   <div class="card filter-card">
    <select [(ngModel)]="selectedOptionId">
      <option [ngValue]="0">All</option>
      <option *ngFor="let option of options" [ngValue]="option.id">{{ option.option }}</option>
    </select>
    <span class="member-count">Total Number Of Departments:  <b>{{ options.length }}</b></span>
  </div>

  <!-- Display sections based on selection -->
    <ng-container *ngFor="let section of getFilteredSections()">
      <div class="team-overview" >
        <div class="card team-card">
          <h3>{{ section.name }}</h3>
         <div class="members-container">

            <img src="path/to/default-avatar.png" alt="Avatar" class="avatar">
            <span>{{ section.id }} - {{ section.details }}</span>
            <!-- <span class="status" [ngClass]="{'leave': section.i === 'Leave', 'present': section.status === 'Present'}">{{ section.status }}</span> -->
            <!-- <p>{{ section.details }}</p> -->
          </div>
        </div>
        </div>
    </ng-container>
   </div>
