<div class="log-container">
  <div class="login-card">

    <div class="avatar">
      <img src="assets/images/TVM Infotech Logo.jpg" class="avatar-img" />
    </div>

    <h2>Sign in to your account</h2>

    <form [formGroup]="login">
      
      <div class="input-group">
        <label>User Name</label>
        <input type="text" formControlName="username"  />
      </div>

      <div class="input-group">
        <div class="position">
        <label>Password</label>
        <!-- <a (click)="navigateToForgotPassword()" class="forgot">Forgot Password?</a> -->
        </div>
        <input type="password" formControlName="password"  />
      </div>

      <div class="error">{{errorMessage}}</div>

      <button type="button" (click)="enter()" [disabled]="loading" class="login-btn">
  <span *ngIf="!loading">Login</span>
  <mat-progress-spinner
    *ngIf="loading"
    diameter="24"
    mode="indeterminate">
  </mat-progress-spinner>
</button>


      <!-- <div class="toggle-text links">
        <a (click)="navigateToRegister()">New User? Register Here</a><br />
      </div> -->

    </form>

  </div>
</div>
