<div class="leave-requests">
  <!-- Button to Add Request -->
  <button mat-raised-button color="primary" routerLink="/apply-leave" (click)="navigate()">Add Request</button>
  
  <!-- Filter Container -->
  <div class="filter-container">
    <mat-form-field>
      <mat-label>Filter by Leave Type</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Leave Type">
    </mat-form-field>
  </div>
  
  <!-- Leave Requests Table -->
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="selectAll($event.checked)"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (change)="onDelete(element)"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Employee Name Column -->
    <ng-container matColumnDef="employeeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</th>
      <td mat-cell *matCellDef="let element">{{ element.employeeName }}</td>
    </ng-container>

    <!-- Leave Type Column -->
    <ng-container matColumnDef="leaveType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave Type</th>
      <td mat-cell *matCellDef="let element">{{ element.leaveType }}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <!-- Leave Period Column -->
    <ng-container matColumnDef="leavePeriod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave Period</th>
      <td mat-cell *matCellDef="let element">{{ element.leavePeriod }}</td>
    </ng-container>

    <!-- Days Column -->
    <ng-container matColumnDef="days">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Days</th>
      <td mat-cell *matCellDef="let element">{{ element.days }}</td>
    </ng-container>

    <!-- Date of Request Column -->
    <ng-container matColumnDef="dateOfRequest">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Request</th>
      <td mat-cell *matCellDef="let element">{{ element.dateOfRequest }}</td>
    </ng-container>

    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <!-- Total Record Count -->
  <div>Total Record Count: {{ dataSource.data.length || 0 }}</div>
</div>
