<div class="body">
  <div class="container">
    <div class="leave-card">
      <div class="leave-icon casual">
        <i class="fas fa-sun"></i>
      </div>
      <div class="leave-details">
        <h3>Casual Leave</h3>
      </div>
      <div class="leave-status">
        <p>Available <span class="available">8 days</span></p>
        <p>Booked <span class="booked">4 days</span></p>
      </div>
      <button class="apply-leave-btn" (click)="applyLeave()">Apply Leave</button>
    </div>
    <div class="leave-card">
      <div class="leave-icon earned">
        <i class="fas fa-clock"></i>
      </div>
      <div class="leave-details">
        <h3>Earned Leave</h3>
      </div>
      <div class="leave-status">
        <p>Available <span class="available">11 days</span></p>
        <p>Booked <span class="booked">1 day</span></p>
      </div>
      <button class="apply-leave-btn"  (click)="applyLeave()">Apply Leave</button>
    </div>
    <div class="leave-card">
      <div class="leave-icon leave-without-pay">
        <i class="fas fa-sun"></i>
      </div>
      <div class="leave-details">
        <h3>Leave Without Pay</h3>
      </div>
      <div class="leave-status">
        <p>Available <span class="negative">-1 day</span></p>
        <p>Booked <span class="booked">1 day</span></p>
      </div>
      <button class="apply-leave-btn"  (click)="applyLeave()">Apply Leave</button>
    </div>
    <div class="leave-card">
      <div class="leave-icon paternity">
        <i class="fas fa-baby"></i>
      </div>
      <div class="leave-details">
        <h3>Paternity Leave</h3>
      </div>
      <div class="leave-status">
        <p>Available <span class="booked">0 day</span></p>
        <p>Booked <span class="booked">0 day</span></p>
      </div>
      <button class="apply-leave-btn"  (click)="applyLeave()">Apply Leave</button>
    </div>
    <div class="leave-card">
      <div class="leave-icon sabbatical">
        <i class="fas fa-sync-alt"></i>
      </div>
      <div class="leave-details">
        <h3>Sabbatical Leave</h3>
      </div>
      <div class="leave-status">
        <p>Available <span class="negative">-1 day</span></p>
        <p>Booked <span class="booked">1 day</span></p>
      </div>
      <button class="apply-leave-btn"  (click)="applyLeave()">Apply Leave</button>
    </div>
    <div class="leave-card">
      <div class="leave-icon sick">
        <i class="fas fa-stethoscope"></i>
      </div>
      <div class="leave-details">
        <h3>Sick Leave</h3>
      </div>
      <div class="leave-status">
        <p>Available <span class="available">11 days</span></p>
        <p>Booked <span class="booked">1 day</span></p>
      </div>
      <button class="apply-leave-btn"  (click)="applyLeave()">Apply Leave</button>
    </div>
  </div>
</div>