<div class="container-fluid">
  <ng-container *ngIf="!isLoading; else loading">
    <div 
      *ngFor="let leave of leaves" 
      class="leave-summary-card" 
      [ngStyle]="{'border-color': leave.color}"
    >
      <div class="leave-icon" [ngStyle]="{'background-color': leave.color}">
        <i [class]="leave.iconClass"></i>
      </div>
      <div class="leave-details">
        <h5>{{ leave.typeLeave }}</h5>
        <p>
          <span class="available">Available: {{ leave.available }} days</span>
          <span class="booked">Booked: {{ leave.booked }} days</span>
        </p>
      </div>
      <button 
        class="btn btn-primary apply-btn" 
        (click)="applyLeave()"
      >
        Apply Leave
      </button>
    </div>
  </ng-container>

  <ng-template #loading>
    <p>Loading leave summary...</p>
  </ng-template>
</div>
