.container {
  height: 28rem;
  margin-top: 5rem !important;
}

.custom-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
  cursor: pointer;
}

.profile-set {
  color: white;
  background-color: #E5E5F0;
  width: 80px;
  height: 80px;
  border-radius: 7px;
  padding-top: 0rem;
  margin-top: -8rem;
  margin-right: 1rem;
}

.profile {
  padding-left: 4px;
  padding-top: 4px;
  margin-top: 0rem;
  font-size: -18rem;
  color: white;
  font-size: 82px;
}

.profile-detail {
  padding-left: 8rem;
  margin-top: -4rem;

}

.custom-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.custom-list li {
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.custom-list li:hover,
.custom-list li.active {
  color: #007bff;

}

.custom-list li::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0088ff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.custom-list li:hover::after,
.custom-list li.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.custom-list li.active {
  color: #007bff;
}

.custom-list li.active::after {
  transform: scaleX(1);

}

img{
  display: flex;
  width: 100vw;
  height: 25vh;
}

.overview-page {
  display: flex;
  flex-direction: column;
  margin: -4.5rem 5rem 1rem 2rem;
  padding: 2rem;
}
.card-items{
overflow-y: scroll;
max-height: 400px;
}
