<!-- Breadcrumb -->
<!-- <nav class="">
  <div class="content rgb-animate">
  <span class="" *ngIf="activeNavItem === 'my-space'">New Home > My Space > {{ activeSubNavItem }}</span>
  <span class="" *ngIf="activeNavItem === 'teams-dashboard'">New Home > Teams > {{ activeSubNavItem }}</span>
  <span class="" *ngIf="activeNavItem === 'organization'">New Home > Organization > {{ activeSubNavItem }}</span>
</div>
</nav> -->

<nav class="navbar">
  <div class="nav-item" [class.active]="activeNavItem === 'my-space'" 
       (click)="navigateTo('my-space')">My Space</div>

  <div class="nav-item" [class.active]="activeNavItem === 'teams-dashboard'" 
       (click)="navigateTo('teams-dashboard')">Teams</div>

  <div class="nav-item" [class.active]="activeNavItem === 'organization'" 
       (click)="navigateTo('organization')">Organization</div>
</nav>

<!-- Here your components will load -->
<router-outlet></router-outlet>
