<div class="leave-report-container">
    <h3 class="leave-report-title">Leave Report</h3>
    <div class="leave-cards">
      <div class="leave-card" *ngFor="let leave of leaves">
        <div class="leave-icon" [ngStyle]="{'background-color': leave.color}">
          <span>{{ leave.available }}</span>
        </div>
        <div class="leave-details">
          <div class="leave-type">{{ leave.leaveType }}</div>
          <div class="leave-available">Available: {{ leave.available }} Day(s)</div>
        </div>
        <div class="apply-leave-icon" (click)="applyLeave()">
          <i class="fas fa-plus"></i>
        </div>
      </div>
    </div>
  </div>
  