/* src/app/navbar/navbar.component.scss */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: linear-gradient(90deg, #1e3c72, #2a5298); /* Gradient background */
  padding: 0.5rem 10rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  background-size: cover;
  border-bottom: 3px solid #123; /* Darker border for a more defined look */
}

.nav-item {
  padding: 0.5rem 1rem; /* Reduced padding */
  cursor: pointer;
  color: #f9f9f9;
  font-weight: bold;
  position: relative;
  border-radius: 10px;
  transition: color 0.3s, background-color 0.3s; /* Smooth transitions */
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Reduced height */
  bottom: 0;
  left: 0;
  background-color: #ffdd57; /* Highlight color */
  transition: width 0.3s;
}

.nav-item:hover {
  background-color: #f1f1f1;
  color: #1e3c72;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item:active {
  transform: scale(0.95); /* Slight scale down on click */
  background-color: #e0e0e0;
  color: #123;
}

.nav-item.active {
  background-color: #f1f1f1; /* Same as hover color */
  color: #1e3c72; /* Same as hover color */
}

.nav-item.active::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .nav-item {
    padding: 0.5rem 1rem;
    width: 100%;
  }
}
/* src/app/navbar/navbar.component.scss */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: linear-gradient(90deg, #1e3c72, #2a5298); /* Gradient background */
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  background-size: cover;
  border-bottom: 3px solid #123; /* Darker border for a more defined look */
}

.nav-item {
  padding: 0.5rem 1rem; /* Reduced padding */
  cursor: pointer;
  color: #f9f9f9;
  font-weight: bold;
  position: relative;
  transition: color 0.3s, background-color 0.3s; /* Smooth transitions */
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Reduced height */
  bottom: 0;
  left: 0;
  background-color: #ffdd57; /* Highlight color */
  transition: width 0.3s;
}

.nav-item:hover {
  background-color: #f1f1f1;
  color: #1e3c72;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item:active {
  transform: scale(0.95); /* Slight scale down on click */
  background-color: #e0e0e0;
  color: #123;
}

.nav-item.active {
  background-color: #f1f1f1; /* Same as hover color */
  color: #1e3c72; /* Same as hover color */
}

.nav-item.active::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .nav-item {
    padding: 0.5rem 1rem;
    width: 100%;
  }
}
