<!-- Toast Notification -->
<div class="container mt-4">
  <!-- Project List Tab -->
  <div class="projectlist">
    <div class="pro">Project List</div>
  </div>
  <!-- Add Project Button  -->
  <div class="card-body">
    <button type="button" (click)="openToast()" class="btn btn-primary" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasForm" aria-controls="offcanvasForm">Add Project</button>
  </div>
</div>

<!-- Table to Display Project Data -->
<div class="table-wrapper">
  <table class="project-table">
    <tr>
      <th>Project Name</th>
      <th>Client Name</th>
      <th>Domain</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let item of submittedData">
      <td>{{ item.projectname }}</td>
      <td>{{ item.clientname }}</td>
      <td>{{ item.domain }}</td>
      <td>{{item.projectStatus}}</td>
<td class="position-relative">
  <button class="btn btn-link p-0" (click)="toggleDropdown(item)">
    <i class="bi bi-three-dots-vertical"></i>
  </button>

  <div *ngIf="selectedItem === item" class="dropdown-card">
      <button (click)="edit(item.id)">Edit</button>
      <button (click)="delete(item.id)">Delete</button>
  </div>
</td>


<div 
  class="global-dropdown" 
  *ngIf="dropdownVisible" 
  [ngStyle]="{ top: dropdownPosition.top, left: dropdownPosition.left }"
>
  <div class="dropdown-item" (click)="edit(selectedItem.id)">Edit</div>
  <div class="dropdown-item" (click)="delete(selectedItem.id)">Delete</div>
</div>


    </tr>
  </table>
</div>

<!-- Add Project Form -->
<div class="offcanvas offcanvas-end" tabindex="-1" [ngClass]="{'show': showToast, 'hide': !showToast}"
  aria-labelledby="offcanvasFormLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasFormLabel">{{ isEditMode ? 'Edit Project' : 'Add Project' }}</h5>
    <button type="button" class="btn-close" data-bs-target="#offcanvasForm" data-bs-dismiss="offcanvas"
      aria-label="Close" (click)="closeToast()"></button>

  </div>
  <div class="offcanvas-body">
    <form [formGroup]="projectForm" (ngSubmit)="isEditMode ? update() : onSubmit()">
      <!-- Project Name -->
      <div class="mb-3">
        <label for="projectName" class="form-label">Project Name</label>
        <input type="text" class="form-control" id="projectName" formControlName="projectname"
          [class.is-invalid]="projectForm.get('projectname')?.invalid && (projectForm.get('projectname')?.dirty || projectForm.get('projectname')?.touched)">
        <div
          *ngIf="projectForm.get('projectname')?.invalid && (projectForm.get('projectname')?.dirty || projectForm.get('projectname')?.touched)"
          class="invalid-feedback">
          <div *ngIf="projectForm.get('projectname')?.errors?.['required']">Project name is required.</div>
          <div *ngIf="projectForm.get('projectname')?.errors?.['minlength']">Project name must be at least 3 characters
            long.</div>
        </div>
      </div>

      <!-- Client Name -->
      <div class="mb-3">
        <label for="clientName" class="form-label">Client Name</label>
        <input type="text" class="form-control" id="clientName" formControlName="clientname"
          [class.is-invalid]="projectForm.get('clientname')?.invalid && (projectForm.get('clientname')?.dirty || projectForm.get('clientname')?.touched)">
        <div
          *ngIf="projectForm.get('clientname')?.invalid && (projectForm.get('clientname')?.dirty || projectForm.get('clientname')?.touched)"
          class="invalid-feedback">Client name is required.</div>
      </div>

      <!-- Domain -->
      <div class="mb-3">
        <label for="domain" class="form-label">Domain</label>
        <input type="text" class="form-control" id="domain" formControlName="domain"
          [class.is-invalid]="projectForm.get('domain')?.invalid && (projectForm.get('domain')?.touched || projectForm.get('domain')?.dirty)">
        <div
          *ngIf="projectForm.get('domain')?.invalid && (projectForm.get('domain')?.touched || projectForm.get('domain')?.dirty)"
          class="invalid-feedback">
          Domain is required.
        </div>
      </div>

      <!-- Project Start Date -->
      <div class="mb-3">
        <label for="startDate" class="form-label">Project Start Date</label>
        <input type="date" class="form-control" id="startDate" formControlName="startDate"
          [class.is-invalid]="projectForm.get('startDate')?.invalid && (projectForm.get('startDate')?.dirty || projectForm.get('startDate')?.touched)">
        <div
          *ngIf="projectForm.get('startDate')?.invalid && (projectForm.get('startDate')?.dirty || projectForm.get('startDate')?.touched)"
          class="invalid-feedback">
          Project start date is required.
        </div>
      </div>

      <!-- Voice -->
      <div class="mb-3">
        <label for="voice" class="form-label">Voice</label>
        <input type="text" class="form-control" id="voice" formControlName="voice"
          [class.is-invalid]="projectForm.get('voice')?.invalid && (projectForm.get('voice')?.touched || projectForm.get('voice')?.dirty)">
        <div
          *ngIf="projectForm.get('voice')?.invalid && (projectForm.get('voice')?.touched || projectForm.get('voice')?.dirty)"
          class="invalid-feedback">
          <div *ngIf="projectForm.get('voice')?.errors?.['maxlength']">Voice must be less than 100 characters.</div>
        </div>
      </div>

      <!-- Voice Start Date -->
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="voicestartDate" class="form-label">Voice Start Date</label>
          <input type="date" class="form-control" id="voicestartDate" formControlName="voicestartDate">
        </div>
        <div class="col-md-6">
          <label for="voiceendDate" class="form-label">Voice End Date</label>
          <input type="date" class="form-control" id="voiceendDate" formControlName="voiceendDate">
        </div>
      </div>

      <!-- Coding -->
      <div class="mb-3">
        <label for="coding" class="form-label">Coding</label>
        <input type="text" class="form-control" id="coding" formControlName="coding"
          [class.is-invalid]="projectForm.get('coding')?.invalid && (projectForm.get('coding')?.dirty || projectForm.get('coding')?.touched)">
        <div
          *ngIf="projectForm.get('coding')?.invalid && (projectForm.get('coding')?.dirty || projectForm.get('coding')?.touched)"
          class="invalid-feedback">
          <div *ngIf="projectForm.get('coding')?.errors?.['maxlength']">
            Coding must be less than 100 characters.
          </div>
        </div>
      </div>

      <!-- Coding Start Date -->
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="codingStartDate" class="form-label">Coding Start Date</label>
            <input type="date" class="form-control" id="codingStartDate" formControlName="codingstartDate"
              [class.is-invalid]="projectForm.get('codingstartDate')?.invalid && (projectForm.get('codingStartDate')?.dirty || projectForm.get('codingstartDate')?.touched)">
            <div
              *ngIf="projectForm.get('codingstartDate')?.invalid && (projectForm.get('codingstartDate')?.dirty || projectForm.get('codingstartDate')?.touched)"
              class="invalid-feedback">
              Please provide a valid Coding Start Date.
            </div>
          </div>
        </div>

        <!-- Coding End Date -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="codingEndDate" class="form-label">Coding End Date</label>
            <input type="date" class="form-control" id="codingEndDate" formControlName="codingendDate">
            <div
              *ngIf="projectForm.get('codingendDate')?.invalid && (projectForm.get('codingendDate')?.dirty || projectForm.get('codingendDate')?.touched)"
              class="invalid-feedback">
              Please provide a valid Coding End Date.
            </div>
          </div>
        </div>
      </div>


      <!-- Dynamic Assets -->
      <div class="mb-3">
        <label class="form-label">Assets</label><br>
        <div *ngFor="let asset of allAssets">
          <input type="checkbox" [value]="asset" [checked]="assetArray.value.includes(asset)"
            (change)="onCheckboxChange($event)">
          {{ asset }}
        </div>
      </div>

      <div class="mb-3">
        <label for="projectStatus" class="form-label">Project Status</label>
        <select class="form-select" id="projectStatus" formControlName="projectStatus">
          <option value="">--Select Status--</option>
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
          <option value="Pending">Pending</option>
        </select>
        <div
          *ngIf="projectForm.get('projectStatus')?.invalid && (projectForm.get('projectStatus')?.dirty || projectForm.get('projectStatus')?.touched)"
          class="invalid-feedback">
          Project status is required.
        </div>
      </div>
      <!-- Submit and Cancel Buttons -->
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary me-2" [disabled]="!projectForm.valid || isEditMode">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="update()"
          [disabled]="!projectForm.valid || !isEditMode">Update</button>
      </div>
    </form>
  </div>
</div>