<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <!-- Step 1: Email/Phone input -->
    <form *ngIf="!otpSent && !isPasswordUpdated" (ngSubmit)="verifyEmailOrPhone()">
      <div class="form-group">
        <label for="emailOrPhone">Email or Phone Number</label>
        <input type="text" id="emailOrPhone" [(ngModel)]="emailOrPhone" name="emailOrPhone" placeholder="Enter email or phone number" required>
      </div>
      <button type="submit" class="btn" [disabled]="otpSent">Send OTP</button>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </form>
    <!-- Step 2: OTP input -->
    <form *ngIf="otpSent && !isPasswordUpdated" (ngSubmit)="verifyOtp()">
      <div class="form-group">
        <label for="otp">Enter OTP</label>
        <input type="text" id="otp" [(ngModel)]="enteredOtp" name="otp" placeholder="Enter OTP" required>
      </div>
      <button type="submit" class="btn">Verify OTP</button>
      <button style="margin-top: 3px;" type="button" class="btn" (click)="resendOtp()" [disabled]="otpResendInProgress">Resend OTP</button>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
    </form>
    <!-- Step 3: New password input -->
    <form *ngIf="isPasswordUpdated" (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" placeholder="Enter new password" required>
      </div>
      <button type="submit" class="btn">Reset Password</button>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
    </form>
</div>