<div class="modal-dialog ">
  <div class="modal-content shadow">
    <div class="modal-header">
      <div class="modal-title">
        <div class="d-flex">
          <span  class="profile-set"><i class="fa-solid fa-user profile"></i></span>
          <div class="details">
            <li>1 Arul</li>
            <li>user Id: 60030857082</li>
            <li>arullatotek.com</li>
          </div>
        </div>
        <div class="d-flex">
          <button class="account">My Account</button>
          <span class="away">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>Sign Out</span>
        </div>
      </div>
      <button
        type="button"
        class="btn-close"
        (click)="closeClick()"
      ></button>
    </div>
    <div class="modal-body">
    <div class="Manag-account">
      Manage Account
      <div>
    <div>Zoho</div>
    <div></div>
      </div>
    </div>
    <div class="People-opn">People Options</div>
    <div class="zoho">Zoho People on your mobile and stay connected
    </div>
    </div>
  </div>
</div>
