<div *ngIf="profiledata; else noData" class="profile-page">

  <!-- Profile Header -->
  <div class="profile-header">
    <img *ngIf="profiledata.photo; else avatar" [src]="profiledata.photo" alt="Employee Photo" class="profile-photo" />

    <ng-template #avatar>
      <div class="profile-avatar">
        {{ profiledata.basicInformation.firstName[0] }}{{ profiledata.basicInformation.lastName[0] }}
      </div>
    </ng-template>

    <div class="profile-basic">
      <h2>{{ profiledata.basicInformation.firstName}} {{ profiledata.basicInformation.lastName }}</h2>
      <p class="text-muted">{{ profiledata.workInformation.designation }}</p>
      <p class="text-muted">Employee Code: {{ profiledata.basicInformation.employeeId}}</p>
    </div>
  </div>

  <!-- Personal Details -->
  <div class="profile-section">
    <h4>Personal Details</h4>
    <div class="profile-info">
      <p><strong>Date of Birth:</strong> {{  profiledata.personalDetails.dateOfBirth }}</p>
      <p><strong>Joining Date:</strong> {{ profiledata.workInformation.dateOfJoining }}</p>
      <p><strong>Marital Status:</strong> {{ profiledata.personalDetails.maritalStatus }}</p>
    </div>
  </div>

  <!-- Contact Details -->
  <div class="profile-section">
    <h4>Contact Details</h4>
    <div class="profile-info">
      <p><strong>Mobile Number:</strong>{{ profiledata.contactDetails.personalMobileNum }}</p>
      <p><strong>Email ID:</strong> {{  profiledata.basicInformation.email}}</p>
      <p><strong>Department:</strong> {{ profiledata.workInformation.department }}</p>
      <p><strong>Job Level:</strong> {{  profiledata.workInformation.role  }}</p>
      <p><strong>Present Address:</strong> {{  profiledata.contactDetails.presentAddress }}</p>
      <p><strong>Permanent Address:</strong>{{ profiledata.contactDetails.permanentAddress }}</p>
      <p><strong>Employment Type:</strong>{{ profiledata.workInformation.employmentType }}</p>
    </div>
  </div>
</div>

<ng-template #noData>
  <p>No Employee Selected</p>
</ng-template>
