<nav class="navbar">
    <div class="nav-item" [class.active]="activeNavItem === 'goals'" (click)="navigateToGoal()">Goals</div>
    <div class="nav-item" [class.active]="activeNavItem === 'competency'" (click)="navigateToCompetency()">Competency</div>
    <div class="nav-item" [class.active]="activeNavItem === 'feedback'" (click)="navigateToFeedback()">Feedback</div>
    
  </nav>

  <div class="main-content">
    <app-goals *ngIf="activeNavItem === 'goals'"></app-goals>
    <app-competency *ngIf="activeNavItem === 'competency'"></app-competency>
    <!-- <app-skill-set-matrix *ngIf="activeNavItem === 'myskillsetmatrix'"></app-skill-set-matrix> -->
    <app-performance-feedback *ngIf="activeNavItem === 'feedback'"></app-performance-feedback>
  </div>