<nav class="breadcrumb">
  <span class="breadcrumb-item" *ngIf="activeNavItem === 'general'">Onboarding > General</span>
  <span class="breadcrumb-item" *ngIf="activeNavItem === 'educational' ">Onboarding >  Educational</span>
  <span class="breadcrumb-item" *ngIf="activeNavItem === 'skillset'">Onboarding > Skillset</span>
  <span class="breadcrumb-item" *ngIf="activeNavItem === 'professional' ">Onboarding > Professional</span>
  <span class="breadcrumb-item" *ngIf="activeNavItem ==='account-details'">Onboarding > Account-Details</span>
</nav>
<nav  class="navbar">

  <li class="nav-item">
    <a class="nav-link" [class.active]="activeNavItem === 'general'" (click)="selectTab('general')">
      <i class="fa-solid fa-circle"></i> General
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="activeNavItem === 'educational'" (click)="selectTab('educational')">
      <i class="fa-solid fa-circle"></i> Educational
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="activeNavItem === 'skillset'" (click)="selectTab('skillset')">
      <i class="fa-solid fa-circle"></i> Skillset
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="activeNavItem === 'professional'" (click)="selectTab('professional')">
      <i class="fa-solid fa-circle"></i> Professional
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"[class.active]="activeNavItem === 'account-details'" (click)="selectTab('account-details')">
      <i class="fa-solid fa-circle"></i> Account-Details
    </a>
  </li>
</nav>
<hr>
  <!-- Conditionally Render Components with Scrollable Containers -->
<div class="scrollable-content">
  <app-general *ngIf="activeNavItem === 'general'"></app-general>
  <app-educational *ngIf="activeNavItem === 'educational'"></app-educational>
  <app-skillset *ngIf="activeNavItem === 'skillset'"></app-skillset>
  <app-professional *ngIf="activeNavItem === 'professional'"></app-professional>
  <app-account-details *ngIf="activeNavItem === 'account-details'"></app-account-details>
</div>
