 <div class="container">
  <h3>Edicational Table</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Course Pursued</th>
        <th> College/Institution</th>
        <th>Duration from</th>
        <th>Duration To</th>
        <th>CGPA Obtainedr</th>
        <th>Action</th>

    </thead>
    <tbody>
      <tr *ngFor="let person of educationDetails; let i = index">
        <td>
          <span *ngIf="!person.isEdit">{{ person.cgpaObtained }}</span>
          <input *ngIf="person.isEdit" [(ngModel)]="person.cgpaObtained" />
        </td>
        <td>
          <span *ngIf="!person.isEdit">{{ person.coursePursued}}</span>
          <input *ngIf="person.isEdit" [(ngModel)]="person.coursePursued" />
        </td>
        <td>
          <span *ngIf="!person.isEdit">{{ person.durationFrom }}</span>
          <input *ngIf="person.isEdit" [(ngModel)]="person.durationFrom" />
        </td>
        <td>
          <span *ngIf="!person.isEdit">{{ person.durationTo }}</span>
          <input *ngIf="person.isEdit" [(ngModel)]="person.durationTo" />
        </td>
       <td>
        <span *ngIf="!person.isEdit">{{ person.institutionName }}</span>
        <input *ngIf="person.isEdit" [(ngModel)]="person.institutionName" />
       </td>

        <td>
          <button
            type="button"
            class="btn btn-success me-2"
            *ngIf="person.isEdit"
            (click)="saveChanges(i)">
            save
          </button>
          <button
            type="button"
            class="btn btn-success me-2"
            *ngIf="!person.isEdit"
            (click)="toggleEditMode(i)">
            <i class="fa-regular fa-floppy-disk"></i>

          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteRow(i)">
            <i class="fa-solid fa-ban"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>companyname</th>
        <th>Duration From</th>
        <th>Duration To</th>
        <th>Role/title</th>
        <th>employeeReference</th>
        <th>Experirnce</th>

    </thead>
    <tbody>
      <tr *ngFor="let person of educationDetails; let i = index">
        <td>
          <span *ngIf="!person.isEdit">{{ person.cgpaObtained }}</span>
          <input *ngIf="person.isEdit" [(ngModel)]="person.cgpaObtained" />
        </td>
        <td>
          <span *ngIf="!person.isEdit">{{ person.coursePursued}}</span>
          <input *ngIf="person.isEdit" [(ngModel)]="person.coursePursued" />
        </td>
        <td>
          <span *ngIf="!person.isEdit">{{ person.durationFrom }}</span>
          <input *ngIf="person.isEdit" [(ngModel)]="person.durationFrom" />
        </td>
        <td>
          <span *ngIf="!person.isEdit">{{ person.durationTo }}</span>
          <input *ngIf="person.isEdit" [(ngModel)]="person.durationTo" />
        </td>
       <td>
        <span *ngIf="!person.isEdit">{{ person.institutionName }}</span>
        <input *ngIf="person.isEdit" [(ngModel)]="person.institutionName" />
       </td>

        <td>
          <button
            type="button"
            class="btn btn-success me-2"
            *ngIf="person.isEdit"
            (click)="saveChanges(i)">
            save
          </button>
          <button
            type="button"
            class="btn btn-success me-2"
            *ngIf="!person.isEdit"
            (click)="toggleEditMode(i)">
            <i class="fa-regular fa-floppy-disk"></i>

          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteRow(i)">
            <i class="fa-solid fa-ban"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input formControlName="name" placeholder="Name">
  <input formControlName="pass" placeholder="Password">
  <button type="submit" *ngIf="!isEditing">Save</button>
  <button type="submit" *ngIf="isEditing">Update</button>
</form>
<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
  </tr>
  <tr *ngFor="let p of fromArray; let i = index">
    <td>{{ p.name }}</td>
    <td>{{ p.pass }}</td>
    <td>
      <button (click)="editClick(p.id)"><i class="fa-regular fa-floppy-disk"></i></button>
      <button (click)="deleteClick(p.id)"><i class="fa-solid fa-ban"></i></button>
    </td>
  </tr>
</table> -->



