.comments-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 500px;
    margin: auto;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
    .comments-dialog {
      flex-grow: 1;
      overflow-y: auto;
      margin-bottom: 15px;
    }
  
    .comment-box {
      padding: 10px;
      background-color: #e0e0e0;
      border-radius: 4px;
      margin-bottom: 10px;
      max-width: 70%;
      word-wrap: break-word;
  
      &:nth-child(odd) {
        align-self: flex-start;
        background-color: #c8e6c9;
      }
  
      &:nth-child(even) {
        align-self: flex-end;
        background-color: #bbdefb;
      }
    }
  
    .input-container {
      display: flex;
      align-items: center;
      mat-form-field {
        flex-grow: 1;
        margin-right: 10px;
      }
      button {
        margin-left: auto;
      }
    }
  }
  