<!-- Team Cards -->
<div class="team-card-container" *ngIf="!selectedEmployee">
  <div class="team-card"
       *ngFor="let team of teams"
       (click)="selectTeam(team)"
       [class.active]="selectedTeam == team">
    {{ team }}
  </div>
</div>

<!-- Employee Table -->
<div *ngIf="!selectedEmployee" class="body">
  <div class="search-box">
    <input type="text"
           placeholder="Search employee..."
           [(ngModel)]="searchText"
           (input)="applySearch()">
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Department</th>
          <th>Project</th>
          <th>Project Holders</th>
          <th>Project Voices</th>
          <th> Status</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let emp of filteredEmployees">
          <td>{{ emp.employeeCode }}</td>
          <td>{{ emp.employeeName }}</td>
          <td>{{ emp.department }}</td>
          <td>{{ emp.project }}</td>
          <td>{{ emp.projectHolderClientNames }}</td>
          <td>{{ emp.projectVoiceClientNames }}</td>
          <td>{{ emp.employeeStatus }}</td>
          <!-- <td>
            <button class="view-btn" (click)="viewEmployee(emp)">View</button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="selectedEmployee" class="back-wrapper">
  <button class="back-btn" (click)="selectedEmployee = null">⬅ Back</button>
</div>

<!-- Employee Profile Page -->
<div *ngIf="selectedEmployee" class="profile-page">
  <div class="profile-header">
    <!-- Avatar Circle -->
    <div class="avatar-section">
      <div class="avatar-circle">{{ selectedEmployee.firstName.charAt(0).toUpperCase() }}</div>
    </div>

    <div class="profile-basic">
      <h2>{{ selectedEmployee.firstName }} {{ selectedEmployee.lastName }}</h2>
      <p class="text-muted">{{ selectedEmployee.designation }}</p>
      <p class="text-muted">Employee Code: {{ selectedEmployee.employeeCode }}</p>
    </div>
  </div>

  <div class="profile-section">
    <h4>Personal Details</h4>
    <div class="profile-info">
      <p><strong>Date of Birth:</strong> {{ selectedEmployee.dob }}</p>
      <p><strong>Joining Date:</strong> {{ selectedEmployee.joinDate }}</p>
      <p><strong>PAN Number:</strong> {{ selectedEmployee.pan }}</p>
    </div>
  </div>

  <div class="profile-section">
    <h4>Contact Details</h4>
    <div class="profile-info">
      <p><strong>Department:</strong> {{ selectedEmployee.department }}</p>
      <p><strong>Team:</strong> {{ selectedEmployee.team }}</p>
      <p><strong>Location:</strong> {{ selectedEmployee.permanentAddress}}</p>
    </div>
  </div>

  <div class="profile-section mb-4">
    <h4>Bank Details</h4>
    <div class="profile-info">
      <p><strong>Bank Account:</strong> {{ selectedEmployee.uan }}</p>
    </div>
  </div>

  <div class="profile-section mb-4">
    <h4>System Info</h4>
    <div class="profile-info">
      <p><strong>Record Created At:</strong> {{ selectedEmployee.record }}</p>
      <p><strong>ID:</strong> {{ selectedEmployee.id }}</p>
    </div>
  </div>
</div>