<div class="team-card-container">
  <div 
    class="team-card"
    *ngFor="let team of teams"
    (click)="selectTeam(team)"
    [class.active]="selectedTeam === team"
  >
    {{ team }}
  </div>
</div>

<div *ngIf="selectedTeam" class="body">
     <div class="table-container">
        <table >
          <thead>
            <tr>
              <th>Employee ID <i class="fas fa-sort"></i></th>
              <th >First Name <i class="fas fa-sort"></i></th>
              <th>Last Name</th>
              <th>Nick name</th>
              <th>Email address</th>
              <th>Photo</th>
              <th>Department</th>
              <th>Designation</th>
              <th>TVM Role</th>
              <th>Employment Type</th>
              <th>Present Address</th>
              <th>Permanent Address</th>
              <th>Aadhar number</th>
              <th>PAN</th>
              <th>UAN</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of filteredEmployees">
              <td>{{employee.employeeId}}</td>
              <td>{{employee.firstName}}</td>
              <td>{{employee.lastName}}</td>
              <td>{{employee.nickName}}</td>
              <td>{{employee.email}}</td>
              <td><img [src]="employee.photoUrl" alt="Photo of {{employee.firstName}}" width="40" height="40" /></td>
              <td>{{employee.department}}</td>
              <td>{{employee.designation}}</td>
              <td>{{employee.zohoRole}}</td>
              <td>{{employee.employmentType}}</td>
              <td>{{employee.presentAddress}}</td>
              <td>{{employee.permanentAddress}}</td>
              <td>{{maskData(employee.aadhaar)}}</td>
              <td>{{maskData(employee.pan)}}</td>
              <td>{{maskData(employee.uan)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>