<div class="proffession-page">
  <div class="row">
    <h2 class="col-md-5"><i class="fa-solid fa-mobile-retro"></i> Professional details</h2>
  </div>
  <form [formGroup]="professionalFrom" >
    <div class="form-group  col-md-10">
      <label  class="label-spacing" for="firstName">Company name<span>*</span></label>
      <input class="form-control" id="firstName" placeholder="Company name" formControlName="companyName"
      [ngClass]="{'invalid-input': companyName?.invalid && (companyName?.dirty || companyName?.touched)}">
      <div *ngIf="companyName?.invalid && (companyName?.dirty || companyName?.touched)" class="text-danger">
        Company name is required.
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-5">
        <div class="d-flex">
          <div class="me-3 flex-grow-1">
            <div class="form-group div-spacing">
              <label class="label-spacing" for="durationFrom">Duration<span>*</span></label>
              <input type="text" class="form-control" id="durationFrom" placeholder="From"  formControlName="durationFrom"
              [ngClass]="{'invalid-input': durationFrom?.invalid && (durationFrom?.dirty || durationFrom?.touched)}">
              <div *ngIf="durationFrom?.invalid && (durationFrom?.dirty || durationFrom?.touched)" class="text-danger">
                Duration from is required.
              </div>
            </div>
          </div>
          <div class="flex-grow-1">
            <div class="form-group div-spacing">
              <label for="durationTo" class="invisible label-spacing">To</label>
              <input type="text" class="form-control" id="durationTo" placeholder="To"  formControlName="durationTo"
              [ngClass]="{'invalid-input': durationTo?.invalid && (durationTo?.dirty || durationTo?.touched)}">
              <div *ngIf="durationTo?.invalid && (durationTo?.dirty || durationTo?.touched)" class="text-danger">
                Duration to is required.
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="col-md-5">
        <div class="form-group div-spacing">
          <label  class="label-spacing" for="firstNameDuplicate">role/Title<span>*</span></label>
          <input class="form-control" id="firstNameDuplicate" placeholder="Designation"  formControlName="role"
          [ngClass]="{'invalid-input': role?.invalid && (role?.dirty || role?.touched)}">
          <div *ngIf="role?.invalid && (role?.dirty || role?.touched)" class="text-danger">
            role/Title is required.
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group mt-3 div-spacing adjust" >
          <label  class="label-spacing" for="employeeReference">Employee Reference (if any)</label>
          <input class="form-control" id="employeeReference" placeholder="Employee Reference"  formControlName="empPreference"
          [ngClass]="{'invalid-input': empPreference?.invalid && (empPreference?.dirty || empPreference?.touched)}">
          <div *ngIf="empPreference?.invalid && (empPreference?.dirty || empPreference?.touched)" class="text-danger">
             required.
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group div-spacing">
          <label  class="label-spacing" for="firstNameDuplicate">Total years of experirnce<span>*</span></label>
          <input class="form-control" id="firstNameDuplicate" placeholder="Total years of experirnce"  formControlName="wExperience"
          [ngClass]="{'invalid-input': wExperience?.invalid && (wExperience?.dirty || wExperience?.touched)}">
          <div *ngIf="wExperience?.invalid && (wExperience?.dirty || wExperience?.touched)" class="text-danger">
            Experirnce is required.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">

        <h2>Other details</h2>
        <div class="form-group div-spacing">
          <label class="label-spacing">Additional qualification/achievements</label>
          <textarea class="form-control"  formControlName="achievements"
          [ngClass]="{'invalid-input': achievements?.invalid && (achievements?.dirty || achievements?.touched)}"></textarea>
          <div *ngIf="achievements?.invalid && (achievements?.dirty || achievements?.touched)" class="text-danger">
            qualification/achievements is required.
          </div>
        </div>
      </div>
      </div>



   <div class="row mt-5">
    <div class="col-md-6">

      <div class="form-check">
        <label class="form-check-label label-spacing" for="physicalyes">1. Are you physically challenged ?</label>
        <div class="d-flex">
          <div class="form-check me-2 radio-yes">
            <input class="form-check-input" type="radio" id="physicalyes" name="physical" value="yes" formControlName="physical">
            <label class="form-check-label label-spacing" for="physicalyes">Yes</label>
          </div>
          <div class="form-check radio-no">
            <input class="form-check-input" type="radio" id="physicalNo" name="physical" value="no" formControlName="physical">
            <label class="form-check-label label-spacing" for="physicalNo">No</label>
          </div>
        </div>
      </div>


      <div class="form-check">
        <label class="form-check-label label-spacing" for="arrestyes">2. Have you ever been arrested ?</label>
        <div class="d-flex">
          <div class="form-check me-2 radio-yes">
            <input class="form-check-input" type="radio" id="arrestyes" name="arrest" value="yes"  formControlName="arrest" checked>

            <label class="form-check-label label-spacing" for="arrestyes">Yes</label>
          </div>
          <div class="form-check radio-no">
            <input class="form-check-input" type="radio" id="arrestNo" name="arrest"  formControlName="arrest" value="no">

            <label class="form-check-label label-spacing" for="arrestNo">No</label>
          </div>
        </div>
      </div>

      <div class="form-check">
        <label class="form-check-label label-spacing" for="employmentyes">3. Have you ever been considered for employment in OFS ?</label>
        <div class="d-flex">
          <div class="form-check me-2 radio-yes">
            <input class="form-check-input" type="radio" id="employmentyes" name="employment"  formControlName="employment" value="yes" checked>

            <label class="form-check-label label-spacing" for="employmentyes">Yes</label>
          </div>
          <div class="form-check radio-no">
            <input class="form-check-input" type="radio" id="employmentNo" name="employment"  formControlName="employment" value="no">
            <label class="form-check-label label-spacing" for="employmentNo">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 serious">
      <div class="form-check">
        <label class="form-check-label label-spacing" for="surgicalyes">4. Have you suffered from any serious illness or surgical ?</label>
        <div class="d-flex">
          <div class="form-check me-2 radio-yes">
            <input class="form-check-input" type="radio" id="surgicalyes" name="surgical" value="yes"  formControlName="surgical" checked>
            <label class="form-check-label label-spacing" for="surgicalyes">Yes</label>
          </div>
          <div class="form-check radio-no">
            <input class="form-check-input" type="radio" id="surgicalNo" name="surgical"  formControlName="surgical" value="no">
            <label class="form-check-label label-spacing" for="surgicalNo">No</label>
          </div>
        </div>
      </div>
    </div>
   
    </div>
  </form>
<hr>

<div>
  <input type="checkbox" checked> I hereby certify that statement I made above is true, complete and correct to the best of my knowladge and belief.
</div>

<button type="submit" class="btn d-save" (click)="professionalPostClick()"  [disabled]="professionalFrom.invalid">Details Save</button>
</div>
