<div class="card">
  <div class="card-header">
    <h2>New Hires</h2>
  </div>
  <div class="card-content">
    <div class="card-body">
      <ul *ngIf="employees.length; else noNewHires">
        <li *ngFor="let employee of employees">
          <p><strong>{{ employee.employeeName }}</strong></p>
          <p>Joined on: {{ employee.joinDate | date:'longDate' }}</p>
          <button (click)="viewEmployeeDetails(employee.employeeId)">
            View Details
            <span class="eye-icon">&#128065;</span>
          </button>
        </li>
      </ul>
      <ng-template #noNewHires>
        <p>No new joiners in past 15 days.</p>
      </ng-template>
    </div>
  </div>
</div>
