/* Leave Summary Table */
.table-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);

  table {
    width: 100%;
    border-collapse: collapse;

    thead{
        background-color: #f7f7f7;
        font-weight: bold;
    }

    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #eee;
    }
}

    .table-body{
        max-height: 450px;
        overflow-y: auto;
        display: block;

        td,th{
            min-width: 120px;
        }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }


    .view-btn {
      background: #007bff;
      color: white;
      padding: 5px 12px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
  

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;

    button {
      padding: 6px 14px;
      background: #666;
      color: white;
      border-radius: 6px;
      border: none;
      cursor: pointer;
    }
  }
}
.no-data {
  text-align: center;
  padding: 15px;
  font-size: 16px;
  color: #777;
}