<div class="admin-summary-container">

  <h2 class="page-title">Employee Leave Summary</h2>
  <input type="text" placeholder="Search by Employee, Leave Type, or Date" [(ngModel)]="searchTerm"
    (input)="filterLeaves()" class="search-box" />

  <div class="leave-table-section">
    <table class="table">
      <thead>
        <tr>
          <th>Employee</th>
          <th>Leave Type</th>
          <th>StartDate</th>
          <th>EndDate</th>
          <th>Booked</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let leave of paginatedLeaves">
          <td>{{ leave.employeeName}}</td>
          <td>{{ leave.leaveType }}</td>
          <td>{{leave.startDate}}</td>
          <td>{{leave.endDate}}</td>
          <td>{{ leave.booked }}</td>

          <td>
            <span class="status" [class.approved]="leave.status === 'Approved'"
              [class.pending]="leave.status === 'Pending'" [class.rejected]="leave.status === 'Rejected'">
              {{ leave.status }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
      <button class="btn" (click)="prevPage()" [disabled]="page === 1">
        Previous
      </button>

      <span class="page-count">Page {{ page }} of {{ totalPages }}</span>

      <button class="btn" (click)="nextPage()" [disabled]="page === totalPages">
        Next
      </button>
    </div>
  </div>