<div class="admin-summary-container">

  <h2 class="page-title">Employee Leave Summary</h2>

 
<div class="top-cards">
  <div class="card total-used">
    <h3>Total Leave Used</h3>
    <p>{{ totalUsedLeaves }}</p>
  </div>

  <div class="card remaining">
    <h3>Remaining Leaves</h3>
    <p>{{ totalRemainingLeaves }}</p>
  </div>
</div>
  
  <div class="leave-table-section">
    <h3>Leave Details</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Employee</th>
          <th>Leave Type</th>
          <th>Booked</th>
          <th>Available</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let leave of paginatedLeaves">
          <td>{{ leave.employeeName}}</td>
          <td>{{ leave.leaveType }}</td>
          <td>{{ leave.booked }}</td>
          <td>{{ leave.available }}</td>
          <td>
            <span class="status"
              [class.approved]="leave.status === 'Approved'"
              [class.pending]="leave.status === 'Pending'"
              [class.rejected]="leave.status === 'Rejected'">
              {{ leave.status }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
      <button class="btn" (click)="prevPage()" [disabled]="page === 1">
        Previous
      </button>

      <span class="page-count">Page {{ page }} of {{ totalPages }}</span>

      <button class="btn" (click)="nextPage()" [disabled]="page === totalPages">
        Next
      </button>
    </div>
  </div>

</div>