<div class="card" *ngIf="todayBirthdays.length; else noBirthdays">
  <h3>Today's Birthdays</h3>
  <div class="employee" *ngFor="let employee of todayBirthdays">
    
    <img [src]="employee.image" alt="{{employee.employeeName}}" class="employee-image">
    <div class="employee-info">
      <p><strong>Employee ID:</strong> {{employee.employeeId}}</p>
      <p><strong>Name:</strong> {{employee.employeeName}}</p>
      <p><strong>Date of Birth:</strong> {{employee.dob | date:'longDate'}}</p>
      <p><strong>General Timing:</strong> {{employee.generalTiming}}</p>
      <p><strong>Join Date:</strong> {{employee.joinDate | date:'longDate'}}</p>
      <p><strong>Record Date:</strong> {{employee.date}}</p>
    </div>
  </div>
</div> 


<ng-template #noBirthdays>
  <div class="card">
    <h3>Birthdays</h3>
    <p>No birthdays today</p>
  </div>
</ng-template>
