.container {
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-body h5 {
  font-weight: bold;
}
button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

button.active.btn-outline-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.list-group {
  cursor: pointer;
  padding-right: 10px; /* Optional padding for better UX */
}

.feedback-list-scroll {
  max-height: 300px;
  overflow-y: auto;
}

.feedback-list-scroll::-webkit-scrollbar {
  width: 8px;
}

.feedback-list-scroll::-webkit-scrollbar-thumb {
  background-color: #3e50a0;
  border-radius: 4px;
}

.feedback-list-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #1c2655;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Ensure it appears on top */
}

.modal-dialog {
  max-width: 500px;
  width: 100%; /* Responsive */
}

.modal-content {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-header, .modal-footer {
  padding: 1rem;
}

.modal-body {
  padding: 1rem;
}

.pos{
  border-color: #dcf0e8 ;
  background-color: #dcf0e8;
}

.neg{
  border-color:#CB388833;
  background-color:#CB388833 ;
}

.train{
  border-color:#e87347  ;
  background-color: #E8734733;
}

.eye{
  background-color:#ebebeb ;
}

.award{
  border-color:#96bc42 ;
  background-color: #96BC4233;
}
.fa-thumbs-up{
  color: #2dd191 ;
}

.fa-thumbs-down{
  color:#cb3888 ;
}

.fa-star{
  color:#e87347 ;
}

.fa-eye{
  color: #0a0a0a3e;
}

.fa-award{
   color: #96bc42;
}

